<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Sapient - AI Recognition Software</title>

  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/video_upload.css') }}" rel="stylesheet">

</head>

<body>
  <img src="{{ url_for('static', filename='img/image_upload/image_upload_background.jpeg') }}" class="background_image">

  <a href="{{ url_for('main.index') }}"><img src="{{ url_for('static', filename='img/image_upload/home.png') }}" class="home_btn"></a>

  <a href="{{ url_for('main.logout')}}"><img src="{{ url_for('static',filename='img/logout.png')}}" class="logout"></a>

  <img src="{{ url_for('static', filename='img/image_upload/help_btn.png') }}" class="help_btn" data-toggle="popover" data-content="1. Click choose file to select the file to be uploaded. <br/> 2.Click upload.<br/> 3.Click analyse." data-placement="left" data-trigger="hover" data-html="true">

  <!-- BUTTONS FOR CHOOSE FILE UPLOAD FACE,POSTURE-->
  <form method="post" enctype="multipart/form-data">
    <label class="button_default"><img src="{{ url_for('static', filename='img/image_upload/image_upload_choosefile.png') }}" class="choosefile_btn"> <input type="file" style="display: none;" name="file" id="file"></label>
    <label class="button_default"><img src="{{ url_for('static', filename='img/image_upload/image_upload_upload.png') }}" class="upload_btn"><input type="submit" id="button" name="button" value="upload" style="display: none;"></label>
    <label class="button_default"><img src="{{ url_for('static', filename='img/live_feed/face_btn.png') }}" class="face_btn"><input type="submit" id="button" name="button" value="face" style="display: none;"></label>
    <label class="button_default"><img src="{{ url_for('static', filename='img/live_feed/posture_btn.png') }}" class="posture_btn"></label>
  </form>

  <!-- USE THIS NAME TO TRIGGER ANALYSE BTN-->
{#  <form method="post" >#}
{#    <label class="button_default"><img src="{{ url_for('static', filename='img/image_upload/image_upload_analyse.png') }}" class="analyse_btn"><input type="submit" id="analysebutton" name="analysebutton" style="display: none;"></label>#}
{#  </form>#}
  <form method="post" >
    <label class="button_default"><img src="{{ url_for('static', filename='img/image_upload/image_upload_analyse.png') }}" class="analyse_btn"><input type="submit" id="analysebutton" name="button" value="analyse" style="display: none;"></label>
  </form>

  <div class="output_text">{{ text }}</div>

  <!-- Bootstrap core JavaScript -->
  <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script>
$(document).ready(function(){
  $('[data-toggle="popover"]').popover();
});
</script>


</body>

</html>
